

body{
  margin: 50px 250px !important;
  
}

header{
  background-color: rgb(75, 190, 190);
  display: flex;
  color: white;
  padding-left: 10px;
}

.titlePoints h1{
  margin-left: 340px;
  margin-top: 15px;
}

.bodyComponent{
  display: inline-block;
  border: 1px solid #ccc;
  align-items: center;
  width: 100%;
}

.bodyComponent svg{
  font-size: 35px;
  margin: 0px 10px;
  cursor: pointer;
}

.bodyComponent >span{
  font-size: 30px;
  margin: 0px 80px;
  padding: 5px 0px;
}
.button-del{
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: 5px;
}

.button-del:hover{
  background-color: #ff9e9e;
  border-radius: 5px;
}

.All-button{
  margin-left: 360px;
  border: none;
}

.All-button button{
  width: 55px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.All-button span{
  padding: 0px 20px;
}

.footer{
  background-color: rgb(75, 190, 190);
  height: 70px;
}

.mb-5{
  padding: 15px;
}

.mb-5 button{
  border: none;
  border-radius: 5px;
  background-color: white;
}

.input-group input{
  background-color: #38675c;
}

.input-group input::placeholder{
  color: white;
}

.listcontent{
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  padding: 5px 0px;
}

.play-name{
  width: 360px;
  font-size: 20px;
  text-transform: capitalize;
}

#basic-addon2{
  color: black;
}


.bodyComponent> div{
  display: flex;
  border: 1px solid #ccc;
  padding: 5px 0px;
}
